[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.org/simple"

[dev-packages]
pylint = "*"
flake8 = "*"
#black = "*"
black = "==21.7b0"
flake8-docstrings = "*"
flake8-bugbear = "*"

[packages]
absl-py = "==0.13.0"
astor = "==0.7.1"
gast = "==0.2.2"
grpcio = "==1.14.2"
imageio = "==1.5"
mido = "==1.2.8"
numpy = "==1.19.5"
protobuf = "==3.6.1"
pypianoroll = "==0.4.6"
scipy = "==1.1.0"
six = "==1.11.0"
tensorboard = "==1.15.0"
tensorflow-gpu = "==1.15.0"
termcolor = "==1.1.0"
Markdown = "==2.6.11"
Pillow = "==6.2.0"
pretty_midi = "==0.2.8"
PyYAML = "==3.13"
SharedArray = "==3.2.1"
Werkzeug = "==0.15.3"

[requires]
python_version = "3.7"